<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Questrial&display=swap" rel="stylesheet" />
		<title>Document</title>
		<link rel="stylesheet" href="styles.css" />
	</head>

	<body>
		<% students.forEach(student=> { %>
		<div class="page border">
			<div class="header">
				<!-- Header -->
				<section class="school-details d-flex justify-content-between px-4 py-2 mb-auto">
					<img class="logo" src="./images/Arcadia-Logo.png" alt="" />
					<div class="">
						<h1>THE ARCADIA SCHOOL</h1>
						<h5>C.B.S.E AFFILIATION NUMBER: 3530545, SCHOOL CODE: 81965</h5>
						<h5>JHAJRA, CHAKRATA ROAD, DEHRADUN</h5>
						<h5>EMAIL: the.arcadia.school@outlook.com CONTACT: 9901773755</h5>
						<h4 class="session">ACADEMIC SESSION 2021-2022</h4>
					</div>
					<img class="logo" src="./images/CBSE-Logo.svg" alt="" />
				</section>
			</div>
			<div class="middle">
				<!-- Student Details -->
				<section>
					<div class="student-details px-4 py-2">
						<table class="table table-borderless">
							<tbody>
								<tr>
									<td class="row-detail">Student Name:</td>
									<td><%= student.C %></td>
									<td class="row-detail">Roll Number:</td>
									<td><%= student.A %></td>
								</tr>
								<tr>
									<td class="row-detail">Father Name:</td>
									<td><%= student.D %></td>
									<td class="row-detail">Class:</td>
									<td><%= student.F %></td>
								</tr>
								<tr>
									<td class="row-detail">Mother Name:</td>
									<td><%= student.E %></td>
									<td class="row-detail">Date of Birth:</td>
									<td><%= student.H %></td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>

				<!-- Student Performance -->
				<section>
					<div class="px-4 py-2">
						<table class="table table-bordered marks border-dark">
							<thead>
								<tr>
									<th scope="col">SCHOLASTIC AREA</th>
									<th scope="col" colspan="2">TERM 1</th>
									<th scope="col" colspan="2">TERM 2</th>
									<th scope="col" colspan="3">OVERALL</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Subject</th>
									<td class="detail">PT - 1</td>
									<td class="detail">HY</td>
									<td class="detail">PT - 2</td>
									<td class="detail">ANNUAL</td>
									<td class="detail">TOTAL</td>
									<td class="detail">PERCENT</td>
									<td class="detail">GRADE</td>
								</tr>
								<tr>
									<th scope="row">English</th>
									<td><%= student.I %></td>
									<td><%= student.O %></td>
									<td><%= student.U %></td>
									<td><%= student.AA %></td>
									<td><%= student.AI %></td>
									<td><%= student.AO %>%</td>
									<td><%= student.AU %></td>
								</tr>
								<tr>
									<th scope="row">Mathematics</th>
									<td><%= student.J %></td>
									<td><%= student.P %></td>
									<td><%= student.V %></td>
									<td><%= student.AB %></td>
									<td><%= student.AJ %></td>
									<td><%= student.AP %>%</td>
									<td><%= student.AV %></td>
								</tr>
								<tr>
									<th scope="row">Social Science</th>
									<td><%= student.K %></td>
									<td><%= student.Q %></td>
									<td><%= student.W %></td>
									<td><%= student.AC %></td>
									<td><%= student.AK %></td>
									<td><%= student.AQ %>%</td>
									<td><%= student.AW %></td>
								</tr>
								<tr>
									<th scope="row">Hindi</th>
									<td><%= student.L %></td>
									<td><%= student.R %></td>
									<td><%= student.X %></td>
									<td><%= student.AD %></td>
									<td><%= student.AL %></td>
									<td><%= student.AR %>%</td>
									<td><%= student.AX %></td>
								</tr>
								<tr>
									<th scope="row">Computer Science</th>
									<td><%= student.M %></td>
									<td><%= student.S %></td>
									<td><%= student.Y %></td>
									<td><%= student.AE %></td>
									<td><%= student.AM %></td>
									<td><%= student.AS %>%</td>
									<td><%= student.AX %></td>
								</tr>
								<tr>
									<th scope="row">Science</th>
									<td><%= student.N %></td>
									<td><%= student.T %></td>
									<td><%= student.Z %></td>
									<td><%= student.AF %></td>
									<td><%= student.AN %></td>
									<td><%= student.AT %>%</td>
									<td><%= student.AZ %></td>
								</tr>
							</tbody>
						</table>
					</div>
					<h5 class="px-4">** PT - Periodic Test, HY - Half Yearly Examination</h5>
				</section>

				<!-- Student Overall Performance -->
				<section>
					<div class="summary px-4 py-2">
						<table class="table table-bordered border-dark">
							<tbody>
								<tr>
									<td class="detail">Maximum Marks</td>
									<td class="detail"><%= student.BA %></td>
									<td class="detail">Marks Obtained</td>
									<td class="detail"><%= student.AG %></td>
									<td class="detail">Percentage</td>
									<td class="detail"><%= student.AH %>%</td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>

				<!-- Signatures -->
				<section>
					<div class="signatures px-4 py-2">
						<table class="table table-borderless">
							<tbody>
								<tr>
									<td class="detail"></td>
									<td class="detail"></td>
								</tr>
								<tr>
									<td class="detail">Mrs. Shashi Singh</td>
									<td class="detail">Mrs. Gurpreet Kohli</td>
								</tr>
								<tr>
									<td class="detail">CLASS TEACHER</td>
									<td class="detail">PRINCIPAL</td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>
			</div>

			<div class="footer mt-auto align-items-end">
				<div class="px-4 py-2">
					<table class="table table-bordered border-dark">
						<tbody>
							<tr>
								<td class="marks-detail">Marks Range</td>
								<td class="marks-detail">91-100%</td>
								<td class="marks-detail">81-90%</td>
								<td class="marks-detail">71-80%</td>
								<td class="marks-detail">61-70%</td>
								<td class="marks-detail">51-60%</td>
								<td class="marks-detail">41-50%</td>
								<td class="marks-detail">33-40%</td>
								<td class="marks-detail">32 & below</td>
							</tr>
							<tr>
								<td class="marks-detail">Grade</td>
								<td class="marks-detail">A1</td>
								<td class="marks-detail">A2</td>
								<td class="marks-detail">B1</td>
								<td class="marks-detail">B2</td>
								<td class="marks-detail">C1</td>
								<td class="marks-detail">C2</td>
								<td class="marks-detail">D</td>
								<td class="marks-detail">E</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<% }) %>
	</body>
</html>
